@import url("https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Yusei Magic", "Permanent Marker", cursive, sans-serif;
}
